@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import './src/styles/header.scss';
@import './src/styles/portfolio.scss';
@import './src/styles/preloader.scss';
@import './src/styles/home.scss';

:root {
  --main-color: #bb4456;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;
  color-scheme: light dark;
  font-family: 'Poppins', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  font-size: inherit;
  text-decoration: inherit;
  color: inherit;
}

body {
  overflow: hidden;
}

img {
  object-fit: cover;
  display: block;
}

.animated-bar {
  background-color: #009e66;
  content: '';
  display: block;
  height: 4px;
  left: 0;
  margin: 0 auto 0 auto;
  position: relative;
  right: 0;
  width: 75px;
}

.animated-bar::before {
  left: 8px;
}
.animated-bar::after {
  left: 0px;
}
.animated-bar::before,
.animated-bar::after {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: barAnimation;
  animation-timing-function: linear;
  background: #111;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
}

@keyframes barAnimation {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(75px);
    transform: translateX(75px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
