.portfolio{
  padding: 30px 0;
}
.portfolio-describe{
  text-align: center;
  margin-bottom: 17px;
  color: #9f9f9f;
}
.portfolio-title{
  text-align: center;
  font-size: 46px;
  margin-bottom: 37px;
}
